flows.json
[{"id":"c0293f8d.db831","type":"function","z":"e70803b8.eb8b4","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["9cd9ffde.555ae","54626731.a6fe48"]]},{"id":"72c116bf.ccd668","type":"ibmiot in","z":"e70803b8.eb8b4","authentication":"apiKey","apiKey":"e397d95d.052a18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":360,"wires":[["c0293f8d.db831","7fa69ab1.fa3354","92bbea5a.d56588"]],"info":"\n---\n\n"},{"id":"54626731.a6fe48","type":"debug","z":"e70803b8.eb8b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":220,"wires":[]},{"id":"7fa69ab1.fa3354","type":"function","z":"e70803b8.eb8b4","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["54626731.a6fe48","55b7b92b.60cc88"]]},{"id":"92bbea5a.d56588","type":"function","z":"e70803b8.eb8b4","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":480,"wires":[["54626731.a6fe48","ff87ddee.f7231"]]},{"id":"9cd9ffde.555ae","type":"ui_gauge","z":"e70803b8.eb8b4","name":"Temperature","group":"4e9fdbf8.4c2b74","order":1,"width":"7","height":"7","gtype":"gage","title":"temperature-gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#80ff00","#80ff80","#13fb06"],"seg1":"","seg2":"","x":730,"y":280,"wires":[],"info":"\n---\n\n"},{"id":"f5b64258.fad73","type":"ibmiot out","z":"e70803b8.eb8b4","authentication":"apiKey","apiKey":"e397d95d.052a18","outputType":"cmd","deviceId":"motor","deviceType":"simple","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":120,"wires":[]},{"id":"55b7b92b.60cc88","type":"ui_gauge","z":"e70803b8.eb8b4","name":"","group":"4e9fdbf8.4c2b74","order":2,"width":"7","height":"7","gtype":"gage","title":"humidity gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff80c0","#ff20e9","#cc4040"],"seg1":"","seg2":"","x":730,"y":360,"wires":[]},{"id":"ff87ddee.f7231","type":"ui_gauge","z":"e70803b8.eb8b4","name":"","group":"4e9fdbf8.4c2b74","order":9,"width":"7","height":"7","gtype":"gage","title":"soil moisture gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00ffff","#0080ff","#0000ff"],"seg1":"","seg2":"","x":610,"y":440,"wires":[]},{"id":"af376d68.b0d7","type":"ui_button","z":"e70803b8.eb8b4","name":"","group":"4e9fdbf8.4c2b74","order":3,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":240,"y":140,"wires":[["f5b64258.fad73","54626731.a6fe48","2292de7f.308ff2"]]},{"id":"92803f79.ed0bf","type":"ui_button","z":"e70803b8.eb8b4","name":"","group":"4e9fdbf8.4c2b74","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":240,"y":180,"wires":[["f5b64258.fad73","54626731.a6fe48","96d66811.4364a8"]]},{"id":"b97e84f6.9281f8","type":"inject","z":"e70803b8.eb8b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["46873f8a.76e4c"]]},{"id":"46873f8a.76e4c","type":"http request","z":"e70803b8.eb8b4","name":"obj","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=New%20Delhi,%20IN&appid=a37991d0ea20c0c2bc47b8a78eb8caf9","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":540,"wires":[["54626731.a6fe48","47ec877c.68d508","ce3f8c7d.228ac","b7ab1622.063928"]]},{"id":"b4945a9d.70c488","type":"ui_text","z":"e70803b8.eb8b4","group":"4e9fdbf8.4c2b74","order":5,"width":0,"height":0,"name":"","label":"MOTOR STATUS","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":160,"wires":[]},{"id":"2292de7f.308ff2","type":"function","z":"e70803b8.eb8b4","name":"","func":"msg.payload = \"motor on\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["b4945a9d.70c488"]]},{"id":"96d66811.4364a8","type":"function","z":"e70803b8.eb8b4","name":"","func":"msg.payload = \"motor off\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["b4945a9d.70c488"]]},{"id":"96cae01e.02996","type":"ui_text","z":"e70803b8.eb8b4","group":"4e9fdbf8.4c2b74","order":6,"width":0,"height":0,"name":"","label":"temp_now","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":480,"wires":[]},{"id":"743a98bb.1c69d8","type":"ui_text","z":"e70803b8.eb8b4","group":"4e9fdbf8.4c2b74","order":7,"width":0,"height":0,"name":"","label":"humidity_now","format":"{{value}}","layout":"row-spread","x":760,"y":520,"wires":[]},{"id":"c68d0a49.337a08","type":"ui_text","z":"e70803b8.eb8b4","group":"4e9fdbf8.4c2b74","order":8,"width":0,"height":0,"name":"","label":"pressure_now","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":560,"wires":[]},{"id":"47ec877c.68d508","type":"function","z":"e70803b8.eb8b4","name":"","func":"msg.payload = msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":500,"wires":[["96cae01e.02996"]]},{"id":"b7ab1622.063928","type":"function","z":"e70803b8.eb8b4","name":"","func":"msg.payload = msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":540,"wires":[["743a98bb.1c69d8"]]},{"id":"ce3f8c7d.228ac","type":"function","z":"e70803b8.eb8b4","name":"","func":"msg.payload = msg.payload.main.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["c68d0a49.337a08"]]},{"id":"e397d95d.052a18","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4e9fdbf8.4c2b74","type":"ui_group","z":"","name":"Sensor Data","tab":"c9f0bbd9.9c65e8","order":1,"disp":true,"width":"23","collapse":true},{"id":"c9f0bbd9.9c65e8","type":"ui_tab","z":"","name":"Temperature","icon":"dashboard","disabled":false,"hidden":false}]